body{
    color: #666;
}
a {
    color: #a81f42;
}
a:hover, a:active, a:focus {
    color: #333333;
}
.logoLogin{
    width:100%;
    text-align:center;
    margin-bottom:30px;
}
.login-box, .register-box{
    margin:0 auto;
}
.login-page, .register-page {
    background: #fcf1f0;
}
.login-logo a, .register-logo a{
    color: #a81f42;
}
.main-header .navbar{
    min-height:70px;
}
.main-header .logo{
    height:70px;
}
.navbar-nav{
    margin:10px 0;
}
.btn-primary, .btn-primary:focus,.btn-primary:active{
    color: #fff;
    background-color: #A81F42;
    border:none;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
    background-color: #A81F42;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.hover {
    background-color: #444;
}
.btn-warning{
    border:none;
    color: #666;
    background-color: #f4f4f4;
}
.btn-warning:hover,.btn-warning:focus,.btn-warning:active,.btn-warning:active:focus {
    background-color: #e7e7e7;
    color: #666;
}
.skin-blue .main-header .navbar{
    background-color: #fcf1f0;
}
.skin-blue .main-header .navbar .nav>li>a{
    color:#000;
}
.skin-blue .main-header .navbar .nav>li>a:hover, .skin-blue .main-header .navbar .nav>li>a:active, .skin-blue .main-header .navbar .nav>li>a:focus, .skin-blue .main-header .navbar .nav .open>a, .skin-blue .main-header .navbar .nav .open>a:hover, .skin-blue .main-header .navbar .nav .open>a:focus, .skin-blue .main-header .navbar .nav>.active>a{
    background: none;
    color: #C71A41;
}
.skin-blue .main-header .logo,.skin-blue .main-header .logo:hover {
    background-color: transparent;
    width:120px;
}
.box.box-primary {
    border-top-color: #fcf1f0;
}
.content-header>h1{
    color: #a81f42;
    font-weight:bold;
}
.skin-blue .main-header li.user-header{
    background-color: #a81f42;
}